*
{
	font-family: Georgia, "Times New Roman",Times, serif;	    
	background-color: SlateGray;
}
h1,
legend
{
	color: #FFDEAD;
	font-size: 2rem;	
}
p
{
	font-size: 1.5rem;
	
}
address
{
	color: LightSteelBlue;
	font-size: 1.2rem;
}
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  table-layout: fixed;
  font-family: serif;
}
td, th {
  border: 1px solid black;
  overflow: hidden;
  text-overflow: ellipsis;
}
tr,
th
{
	background:  #FFDEAD;
}
td
{
	background:  #eee;
}
	
