*
{
	font-family: Georgia, "Times New Roman",Times, serif;	    
	background-color: #363636;
	
	
}

* Regras CSS diferenciadas para cores de texto */
  .cor1 { color: RoyalBlue;}  /* azul */
  .cor2 { color: #000000; }  /* preto */
  .cor3 { color: #cc3300; }  /* vermelho */
li,
h4,
h2 
{
	color: #A9A9A9;
}
h5
{
	color: #cc3300;
}

fieldset

{
	color: #A9A9A9;
}

h3
{
	color: #FFDEAD;
	
}
h1,
legend
{
	color: #FFDEAD;
	font-size: 1.5rem;	
}
p
{
	font-size: 1.5rem;
	color: RoyalBlue;
	
}
address
{
	color: LightSteelBlue;
	font-size: 1.2rem;
}
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  table-layout: fixed;
  font-family: serif;
  
}
td, th {
  border: 1px solid black;
  overflow: hidden;
  text-overflow: ellipsis;
  color: Black;
}
tr,
th
{
	background:  #FFDEAD;
}
td
{
	background:  #eee;
}
	
